Crear un programa para describir hechos sobre la Luna
Ejercicios prueba

In [41]:
fact = 'The Moon has no atmosphere.'
fact + 'No sound can be heard on the Moon'

'The Moon has no atmosphere.No sound can be heard on the Moon'

In [42]:
two_facts = fact + 'No sound can be heard on the Moon.'
two_facts

'The Moon has no atmosphere.No sound can be heard on the Moon.'

In [43]:
fact

'The Moon has no atmosphere.'

In [44]:
moon_radius = "The Moon has a radius of 1,080 miles"

In [45]:
'The "near side" is the part of the Moon that faces the Earh'

'The "near side" is the part of the Moon that faces the Earh'

In [46]:
"""We only see about 60% of the Moon's surface, this is known as the "near side."""

'We only see about 60% of the Moon\'s surface, this is known as the "near side.'

In [47]:
multiline = "Facts about the Moon:\n There is no atmosphere.\n There is no sound."
print(multiline)

Facts about the Moon:
 There is no atmosphere.
 There is no sound.

# Metodo string

In [48]:
'temperatures and facts about the Moon'.title()

'Temperatures And Facts About The Moon'

In [49]:
heading = 'temperatures and facts about the moon'
heading.title()

'Temperatures And Facts About The Moon'

In [50]:
temperatures = '''Daylight: 260 F
... Nighttime: -280 F'''
temperatures .split()

['Daylight:', '260', 'F', 'Nighttime:', '-280', 'F']

In [51]:
temperatures .split('\n')

['Daylight: 260 F', 'Nighttime: -280 F']

In [52]:
'Moon' in 'This text will describe facts and challegnes with space travel'

False

In [53]:
'Moon' in 'This text will describe facts about the Moon'

True

In [54]:
temperatures = """Saturn has a daytime temperature of -170 degrees Celsius, 
...while Mars -28 Celsius."""

In [55]:
temperatures.find('Moon')

-1

In [56]:
temperatures.find('Mars')

68

In [57]:
temperatures.count('Mars')

1

In [58]:
temperatures.count('Moon')

0

In [59]:
"The Moon and the earth".lower()

'the moon and the earth'

In [60]:
"The Moon and the earth".upper()

'THE MOON AND THE EARTH'

In [61]:
temperatures = 'Mars Average Temperature: -60'

In [62]:
parts = temperatures.split(':')
parts

['Mars Average Temperature', ' -60']

In [63]:
>>> mars_temperature = 'The highest temperature on Mars is about 30 C'

In [64]:
for item in mars_temperature.split():
    if item.isnumeric():
        print(item)

30

In [65]:
'-60'.startswith ('-')

True

In [66]:
if "30 C".endswith("C"):
    print("This temperature is ub Celsius")

This temperature is ub Celsius

In [67]:
'Saturn has a daytime if -170 degrees Celsius, while Mars has -28 Celsius.'.replace('Celsius','c')

'Saturn has a daytime if -170 degrees c, while Mars has -28 c.'

In [68]:
text = 'Temperatures on the Moon can vary widly.'
'temperatures' in text

False

In [69]:
'temperatures' in text.lower()

True

In [82]:
moon_facts = ['The Moon is drifting away from the Earth.', 'On average, the Moon is moving about 4cm every year']
'\n'.join(moon_facts)

'The Moon is drifting away from the Earth.\nOn average, the Moon is moving about 4cm every year'

# Kata 4

Ejercicio 1

In [24]:
text = """Interesting facts about the Moon. The Moon is Earth's only satellite. There are several interesting facts about the Moon and how it affects life here on Earth.  On average, the Moon moves 4cm away from the Earth every year. This yearly drift is not significant enough to cause immediate effects on Earth. The highest daylight temperature of the Moon is 127 C."""

secciones = text.split('. ')

secciones

['Interesting facts about the Moon',
 "The Moon is Earth's only satellite",
 'There are several interesting facts about the Moon and how it affects life here on Earth',
 ' On average, the Moon moves 4cm away from the Earth every year',
 'This yearly drift is not significant enough to cause immediate effects on Earth',
 'The highest daylight temperature of the Moon is 127 C.']

In [26]:
palabras_pista = {"average","temperature", "distance"}

In [30]:


for frase in secciones:
    for palabra in palabras_pista:
        if palabra in frase:
            print (frase)
            break

 On average, the Moon moves 4cm away from the Earth every year
The highest daylight temperature of the Moon is 127 C.

In [32]:

for frase in secciones:
    for palabra in palabras_pista:
        if palabra in frase:
            print (frase.replace("C","Celsius"))
            break

 On average, the Moon moves 4cm away from the Earth every year
The highest daylight temperature of the Moon is 127 Celsius.

Ejercicio 2

In [10]:
planeta = 'Venus'
gravedad = 8.87
nombre = 'Venuss'

In [11]:
txt = f'datos de gravedad sobre {nombre}'

print(txt)

datos de gravedad sobre Venuss

In [15]:
facts=f"""{'-'*80}
Nombre del planeta: {planeta}
Gravedad en {nombre}:{gravedad*1000}m/s2
"""

print(facts)

--------------------------------------------------------------------------------
Nombre del planeta: Venus
Gravedad en Venuss:8870.0m/s2

In [23]:
plantilla=f"""{txt.title()}
{facts}
"""

print(plantilla)

Datos De Gravedad Sobre Venuss
--------------------------------------------------------------------------------
Nombre del planeta: Venus
Gravedad en Venuss:8870.0m/s2

In [25]:
planeta="Marte"
gravedad=0.00143
nombre="Ganímedes"

In [31]:
print(facts)

--------------------------------------------------------------------------------
Nombre del planeta: Venus
Gravedad en Venuss:8870.0m/s2

In [34]:
facts2="""
Datos de gravedad sobre: {nombre}
Nombre del planeta: {planeta}
Gravedad en {nombre}: {gravedad} m/s2
"""
print(facts2.format(nombre=nombre,planeta=planeta,gravedad=gravedad*1000))

Datos de gravedad sobre: Ganímedes
Nombre del planeta: Marte
Gravedad en Ganímedes: 1.4300000000000002 m/s2